[access "refs/*"]
	owner = group user/Eberhard Beilharz (ermshiperete)
[access "refs/for/refs/*"]
	read = group user/Eberhard Beilharz (ermshiperete)
	push = group user/Eberhard Beilharz (ermshiperete)
	label-Code-Review = -2..+2 group user/Eberhard Beilharz (ermshiperete)
	label-Verified = -1..+1 group user/Eberhard Beilharz (ermshiperete)
	rebase = group user/Eberhard Beilharz (ermshiperete)
	removeReviewer = group user/Eberhard Beilharz (ermshiperete)
	submit = group user/Eberhard Beilharz (ermshiperete)
[access "refs/heads/*"]
	read = group user/Eberhard Beilharz (ermshiperete)
	create = group user/Eberhard Beilharz (ermshiperete)
	push = +force group user/Eberhard Beilharz (ermshiperete)
	pushMerge = group user/Eberhard Beilharz (ermshiperete)
[access "refs/tags/*"]
	push = +force group user/Eberhard Beilharz (ermshiperete)
	pushTag = group user/Eberhard Beilharz (ermshiperete)
	pushSignedTag = group user/Eberhard Beilharz (ermshiperete)
